In [20]:
import pandas as pd
import numpy as np
pd.set_option('display.max_columns', None) #Mostrar todas las columnas

In [21]:
df_ocupados= pd.read_csv('Ocupados.csv',sep=';')
df_ocupados.head()

,DIRECTORIO,SECUENCIA_P,ORDEN,HOGAR,REGIS,DPTO,P6430S1,P6500,P6750,P6760,P6800,P6850,P6830,P6830S1,AREA,OCI,FEX_C,P6430,RAMA4D_R4,OFICIO,RAMA2D_R4
0,2195,1,1,1,60,99,,4000000,,,60,60,,,99,1,"2,21141086146294",2,8422,21,84
1,2195,1,2,1,60,99,,,3400000,1,40,24,6,,99,1,"2,21141086146294",4,8415,39,84
2,2232,1,1,1,60,99,,2000000,,,94,100,,,99,1,"4,1046288214264",2,8422,7,84
3,2242,2,1,2,60,94,,,2500000,1,54,54,,,94,1,"2,55011841946562",4,3313,21,33
4,2242,2,3,2,60,94,,,,,20,20,,,94,1,"2,55011841946562",6,3313,39,33

In [23]:
df_Caracteristicas_generales=pd.read_csv('Caracteristicas generales.csv',sep=';')
df_Caracteristicas_generales.head()

,DIRECTORIO,SECUENCIA_P,ORDEN,HOGAR,REGIS,P6020,P6040,DPTO,AREA,FEX_C
0,2187,1,1,1,10,2,0,97,97,"9,89122303894115"
1,2187,1,2,1,10,2,0,97,97,"9,89122303894115"
2,2187,1,3,1,10,2,47,97,97,"9,89122303894115"
3,2187,1,4,1,10,1,5,97,97,"9,89122303894115"
4,2187,1,5,1,10,1,16,97,97,"9,89122303894115"

In [24]:
df_desocupados= pd.read_csv('Desocupados.csv',sep=';')
df_desocupados.head()

,DIRECTORIO,SECUENCIA_P,ORDEN,HOGAR,REGIS,DPTO,AREA,DSI,FEX_C
0,2234,1,2,1,70,97,97,1,"2,1730585450172"
1,2271,1,2,1,70,97,97,1,"8,69223418006879"
2,2440,1,2,1,70,91,91,1,"7,48092157121654"
3,2481,1,1,1,70,99,99,1,"6,37194370574271"
4,2507,1,2,1,70,97,97,1,"1,89475311744086"

In [17]:
df_inactivos=pd.read_csv('Inactivos.csv',sep=';')
df_inactivos.head()

,DIRECTORIO,SECUENCIA_P,ORDEN,HOGAR,REGIS,DPTO,AREA,INI,FEX_C
0,2187,1,3,1,80,97,97,1,"9,89122303894115"
1,2187,1,5,1,80,97,97,1,"9,89122303894115"
2,2187,1,6,1,80,97,97,1,"9,89122303894115"
3,2217,1,1,1,80,97,97,1,"1,91408142681892"
4,2217,1,2,1,80,97,97,1,"1,91408142681892"

In [25]:
df_fuerza_w=pd.read_csv('Fuerza de trabajo.csv',sep=';')
df_fuerza_w.head()

,DIRECTORIO,SECUENCIA_P,ORDEN,HOGAR,REGIS,FT,DPTO,P6230,P6240,P6240S1,P6250,P6260,P6270,P6280,P6290,P6290S1,P6300,P6310,P6310S1,P6320,P6330,P6340,P6350,P6351,AREA,FEX_C
0,2187,1,3,1,50,1,97,3,4,,2,2,2,2,,,1,4,,1,2,,,,97,"9,89122303894115"
1,2187,1,5,1,50,1,97,5,4,,2,2,2,2,,,2,,,,,,,,97,"9,89122303894115"
2,2187,1,6,1,50,1,97,6,4,,2,2,2,2,,,2,,,,,,,,97,"9,89122303894115"
3,2195,1,1,1,50,1,99,1,1,,,,,,,,,,,,,,,,99,"2,21141086146294"
4,2195,1,2,1,50,1,99,2,1,,,,,,,,,,,,,,,,99,"2,21141086146294"

In [62]:
df1=df_ocupados.merge(df_Caracteristicas_generales,how='outer')### merge1
df1

,DIRECTORIO,SECUENCIA_P,ORDEN,HOGAR,REGIS,DPTO,P6430S1,P6500,P6750,P6760,P6800,P6850,P6830,P6830S1,AREA,OCI,FEX_C,P6430,RAMA4D_R4,OFICIO,RAMA2D_R4,P6020,P6040
0,2195,1,1,1,60,99,,4000000,,,60.0,60.0,,,99,1.0,"2,21141086146294",2.0,8422.0,21.0,84.0,NaN,NaN
1,2195,1,2,1,60,99,,,3400000,1,40.0,24.0,6,,99,1.0,"2,21141086146294",4.0,8415.0,39.0,84.0,NaN,NaN
2,2232,1,1,1,60,99,,2000000,,,94.0,100.0,,,99,1.0,"4,1046288214264",2.0,8422.0,7.0,84.0,NaN,NaN
3,2242,2,1,2,60,94,,,2500000,1,54.0,54.0,,,94,1.0,"2,55011841946562",4.0,3313.0,21.0,33.0,NaN,NaN
4,2242,2,3,2,60,94,,,,,20.0,20.0,,,94,1.0,"2,55011841946562",6.0,3313.0,39.0,33.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
53818,5328146,1,2,1,10,86,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,86,NaN,"9,00834523256731",NaN,NaN,NaN,NaN,2.0,55.0
53819,5328146,1,3,1,10,86,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,86,NaN,"9,00834523256731",NaN,NaN,NaN,NaN,1.0,3.0
53820,5328225,1,1,1,10,86,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,86,NaN,"8,88921195009582",NaN,NaN,NaN,NaN,2.0,41.0
53821,5328225,1,2,1,10,86,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,86,NaN,"8,88921195009582",NaN,NaN,NaN,NaN,2.0,16.0
53822,5328225,1,3,1,10,86,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,86,NaN,"8,88921195009582",NaN,NaN,NaN,NaN,1.0,0.0

In [63]:
df2=df1.merge(df_desocupados,how='outer')### merge2
df2

,DIRECTORIO,SECUENCIA_P,ORDEN,HOGAR,REGIS,DPTO,P6430S1,P6500,P6750,P6760,P6800,P6850,P6830,P6830S1,AREA,OCI,FEX_C,P6430,RAMA4D_R4,OFICIO,RAMA2D_R4,P6020,P6040,DSI
0,2195,1,1,1,60,99,,4000000,,,60.0,60.0,,,99,1.0,"2,21141086146294",2.0,8422.0,21.0,84.0,NaN,NaN,NaN
1,2195,1,2,1,60,99,,,3400000,1,40.0,24.0,6,,99,1.0,"2,21141086146294",4.0,8415.0,39.0,84.0,NaN,NaN,NaN
2,2232,1,1,1,60,99,,2000000,,,94.0,100.0,,,99,1.0,"4,1046288214264",2.0,8422.0,7.0,84.0,NaN,NaN,NaN
3,2242,2,1,2,60,94,,,2500000,1,54.0,54.0,,,94,1.0,"2,55011841946562",4.0,3313.0,21.0,33.0,NaN,NaN,NaN
4,2242,2,3,2,60,94,,,,,20.0,20.0,,,94,1.0,"2,55011841946562",6.0,3313.0,39.0,33.0,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
57412,5328137,1,4,1,70,81,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,81,NaN,"7,59043141597366",NaN,NaN,NaN,NaN,NaN,NaN,1.0
57413,5328143,1,1,1,70,86,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,86,NaN,"12,0385982699015",NaN,NaN,NaN,NaN,NaN,NaN,1.0
57414,5328144,1,1,1,70,86,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,86,NaN,"10,3905045954446",NaN,NaN,NaN,NaN,NaN,NaN,1.0
57415,5328144,1,2,1,70,86,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,86,NaN,"10,3905045954446",NaN,NaN,NaN,NaN,NaN,NaN,1.0
57416,5328225,1,1,1,70,86,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,86,NaN,"8,88921195009582",NaN,NaN,NaN,NaN,NaN,NaN,1.0

In [64]:
df3=df2.merge(df_inactivos,how='outer')### merge4
df3

,DIRECTORIO,SECUENCIA_P,ORDEN,HOGAR,REGIS,DPTO,P6430S1,P6500,P6750,P6760,P6800,P6850,P6830,P6830S1,AREA,OCI,FEX_C,P6430,RAMA4D_R4,OFICIO,RAMA2D_R4,P6020,P6040,DSI,INI
0,2195,1,1,1,60,99,,4000000,,,60.0,60.0,,,99,1.0,"2,21141086146294",2.0,8422.0,21.0,84.0,NaN,NaN,NaN,NaN
1,2195,1,2,1,60,99,,,3400000,1,40.0,24.0,6,,99,1.0,"2,21141086146294",4.0,8415.0,39.0,84.0,NaN,NaN,NaN,NaN
2,2232,1,1,1,60,99,,2000000,,,94.0,100.0,,,99,1.0,"4,1046288214264",2.0,8422.0,7.0,84.0,NaN,NaN,NaN,NaN
3,2242,2,1,2,60,94,,,2500000,1,54.0,54.0,,,94,1.0,"2,55011841946562",4.0,3313.0,21.0,33.0,NaN,NaN,NaN,NaN
4,2242,2,3,2,60,94,,,,,20.0,20.0,,,94,1.0,"2,55011841946562",6.0,3313.0,39.0,33.0,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
70108,5328141,1,5,1,80,86,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,86,NaN,"4,38241856314117",NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0
70109,5328142,1,1,1,80,86,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,86,NaN,"8,68572842914156",NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0
70110,5328143,1,5,1,80,86,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,86,NaN,"12,0385982699015",NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0
70111,5328145,1,2,1,80,86,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,86,NaN,"9,32263188098531",NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0
70112,5328146,1,2,1,80,86,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,86,NaN,"9,00834523256731",NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0

In [65]:
df_final=df3.merge(df_fuerza_w,how='outer')### merge4
df_final

,DIRECTORIO,SECUENCIA_P,ORDEN,HOGAR,REGIS,DPTO,P6430S1,P6500,P6750,P6760,P6800,P6850,P6830,P6830S1,AREA,OCI,FEX_C,P6430,RAMA4D_R4,OFICIO,RAMA2D_R4,P6020,P6040,DSI,INI,FT,P6230,P6240,P6240S1,P6250,P6260,P6270,P6280,P6290,P6290S1,P6300,P6310,P6310S1,P6320,P6330,P6340,P6350,P6351
0,2195,1,1,1,60,99,,4000000,,,60.0,60.0,,,99,1.0,"2,21141086146294",2.0,8422.0,21.0,84.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2195,1,2,1,60,99,,,3400000,1,40.0,24.0,6,,99,1.0,"2,21141086146294",4.0,8415.0,39.0,84.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2232,1,1,1,60,99,,2000000,,,94.0,100.0,,,99,1.0,"4,1046288214264",2.0,8422.0,7.0,84.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2242,2,1,2,60,94,,,2500000,1,54.0,54.0,,,94,1.0,"2,55011841946562",4.0,3313.0,21.0,33.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2242,2,3,2,60,94,,,,,20.0,20.0,,,94,1.0,"2,55011841946562",6.0,3313.0,39.0,33.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
101005,5328145,1,2,1,50,86,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,86,NaN,"9,32263188098531",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,2.0,3.0,,2,2,2,2,,,2,,,,,,,
101006,5328146,1,1,1,50,86,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,86,NaN,"9,00834523256731",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,1.0,1.0,,,,,,,,,,,,,,,
101007,5328146,1,2,1,50,86,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,86,NaN,"9,00834523256731",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,2.0,4.0,,2,2,2,2,,,2,,,,,,,
101008,5328225,1,1,1,50,86,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,86,NaN,"8,88921195009582",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,1.0,2.0,,2,2,2,1,1,,,,,,,,,1
101009,5328225,1,2,1,50,86,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,86,NaN,"8,88921195009582",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,1.0,1.0,,,,,,,,,,,,,,,

In [69]:

columns=['DIRECTORIO','SECUENCIA_P','ORDEN','HOGAR','REGIS','DPTO','P6430S1','P6500','P6750','P6760','P6800','P6850','P6830','P6830S1','AREA','OCI','FEX_C','P6430','RAMA4D_R4','OFICIO','RAMA2D_R4','P6020','P6040','DSI','INI','FT','P6230','P6240','P6240S1','P6250','P6260','P6270','P6280','P6290','P6290S1','P6300']
df_finall=df_final.copy()
df_finall=df_finall[columns]
df_finall.head()

,DIRECTORIO,SECUENCIA_P,ORDEN,HOGAR,REGIS,DPTO,P6430S1,P6500,P6750,P6760,P6800,P6850,P6830,P6830S1,AREA,OCI,FEX_C,P6430,RAMA4D_R4,OFICIO,RAMA2D_R4,P6020,P6040,DSI,INI,FT,P6230,P6240,P6240S1,P6250,P6260,P6270,P6280,P6290,P6290S1,P6300
0,2195,1,1,1,60,99,,4000000,,,60.0,60.0,,,99,1.0,"2,21141086146294",2.0,8422.0,21.0,84.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2195,1,2,1,60,99,,,3400000,1,40.0,24.0,6,,99,1.0,"2,21141086146294",4.0,8415.0,39.0,84.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2232,1,1,1,60,99,,2000000,,,94.0,100.0,,,99,1.0,"4,1046288214264",2.0,8422.0,7.0,84.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2242,2,1,2,60,94,,,2500000,1,54.0,54.0,,,94,1.0,"2,55011841946562",4.0,3313.0,21.0,33.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2242,2,3,2,60,94,,,,,20.0,20.0,,,94,1.0,"2,55011841946562",6.0,3313.0,39.0,33.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [70]:
df_finall.shape

(101010, 36)